{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{% include lang-title.html item=post %}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{% include lang-title.html item=post %}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p>
            <span class="lang-inline lang-zh">{{ post.type_zh | default: post.type }}</span><span class="lang-inline lang-en">{{ post.type_en | default: post.type }}</span>,
            <i><span class="lang-inline lang-zh">{{ post.venue_zh | default: post.venue }}</span><span class="lang-inline lang-en">{{ post.venue_en | default: post.venue }}</span></i>,
            {{ post.date | default: "1900-01-01" | date: "%Y" }}
          </p>
        {% elsif post.collection == 'publications' %}
          <p>
            <span class="lang-inline lang-zh">发表于</span><span class="lang-inline lang-en">Published in</span>
            <i><span class="lang-inline lang-zh">{{ post.venue_zh | default: post.venue }}</span><span class="lang-inline lang-en">{{ post.venue_en | default: post.venue }}</span></i>,
            {{ post.date | default: "1900-01-01" | date: "%Y" }}
          </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt_zh or post.excerpt_en %}
    <p class="archive__item-excerpt" itemprop="description"><span class="lang-inline lang-zh">{{ post.excerpt_zh | default: post.excerpt }}</span><span class="lang-inline lang-en">{{ post.excerpt_en | default: post.excerpt }}</span></p>
    {% elsif post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> <span class="lang-inline lang-zh">继续阅读</span><span class="lang-inline lang-en">Read more</span></a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.slidesurl %}
      <p><span class="lang-inline lang-zh">推荐引用：</span><span class="lang-inline lang-en">Recommended citation: </span>{{ post.citation }}<br /><a href="{{ post.paperurl }}"><span class="lang-inline lang-zh">下载论文</span><span class="lang-inline lang-en">Download Paper</span></a> | <a href="{{ post.slidesurl }}"><span class="lang-inline lang-zh">下载幻灯片</span><span class="lang-inline lang-en">Download Slides</span></a></p>
    {% elsif post.citation and post.paperurl %}
      <p><span class="lang-inline lang-zh">推荐引用：</span><span class="lang-inline lang-en">Recommended citation: </span>{{ post.citation }}<br /><a href="{{ post.paperurl }}"><span class="lang-inline lang-zh">下载论文</span><span class="lang-inline lang-en">Download Paper</span></a></p>
    {% elsif post.citation and post.slidesurl %}
      <p><span class="lang-inline lang-zh">推荐引用：</span><span class="lang-inline lang-en">Recommended citation: </span>{{ post.citation }}<br /><a href="{{ post.slidesurl }}"><span class="lang-inline lang-zh">下载幻灯片</span><span class="lang-inline lang-en">Download Slides</span></a></p>
    {% elsif post.citation %}
      <p><span class="lang-inline lang-zh">推荐引用：</span><span class="lang-inline lang-en">Recommended citation: </span>{{ post.citation }}</p>
    {% elsif post.paperurl %}
      <p><a href=" {{ post.paperurl }} "><span class="lang-inline lang-zh">下载论文</span><span class="lang-inline lang-en">Download Paper</span></a></p>
    {% elsif post.slidesurl %}
      <p><a href="{{ post.slidesurl }}"><span class="lang-inline lang-zh">下载幻灯片</span><span class="lang-inline lang-en">Download Slides</span></a></p>
    {% endif %}

  </article>
</div>
